  
  #title{
  background-color: white;
  color: black;
}

.container-fluid{

  padding: 3% 13%;

}

#h1{
  font-family: "Montserrat";
  font-size:3.5rem;
  line-height: 1.5;
}

.navbar{
  padding-bottom: 4.3rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.3rem;
  font-weight: bold;
} 

.nav-item{
  padding: 0 18px;
  color: #5747e3;
}

.nav-link{
  font-size: 1.3rem;
  color: #5747e3;
}

.download-button{
  margin: 5% 3% 5% 0;
  background-color: #695be6/*#090716*//*#5747e3*/;
}


.title-img{
  width: 100%;
  position: absolute;
}

.internship-img{
 width: 100%;
  box-shadow: 4px  9px 190px #8CBF1C;
}

.blog-img{
  width: 100%;
  box-shadow: 9px  39px 170px #B49FDC;

}

.blog-img   {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.blog-img  {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}





#features{
  padding: 12% 15%; 
  background-color: white;
  position: relative;

}

.feature-item{
  text-align: center;
  padding: 5%;
}

h2{
  font-size: 2.5rem;
  line-height: 1;
}


h3{
  font-size: 1.5rem;
}

p{
  color: grey;
}

.card-body p{
	text-align: left;
	padding: 5% 5%;
}

#testimonials{
  padding: 2% 15%;
  text-align: center;
  background-color: #2F2E41;
  color: white;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 10px;
}

.carousel-item{
  padding: 7% 15%;

}

#press{

  text-align: center;
  background-color: #ef8172; 
  padding-bottom: 3%;

}

.press-img{
  width: 15%;
  margin: 20px 20px 50px;
}

#blog{
  padding:100px; 
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

#cta{

    background-color: #2F2E41;
    color: #fff;
    padding: 2% 15%;
    text-align: center;
}

#footer{
  padding: 7% 15%;
  text-align: center;
}

.cta-heading{

   font-family: "Montserrat";
  font-size:2.5rem;
  line-height: 1.5rem;

}
.card-body img{
	width: 50%;
}

.btn{
	color: white;
}

dl{
  color: white;
  text-align: left;
  font-size: 1.5rem;
}

dt{
  padding-bottom: 20px;
}

@media (max-width: 1028px){

  #title{
    text-align: center;
  }

  .title-img{
    position: static;
    transform: rotate(0);
  }

}

/*color: #F9A602;*/
.ht{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #F9A602 50%,
    #5747e3 20%,
    #fff800 15%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 15s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
}

.tp1{
	color: red;
}

#footer{
  background-color: #14141f;
  padding: 7% 1%;
  text-align: left;
}

.fimg{
  width: 15%;
}


.blog{
  font-size:1.3rem;
}

h6{
  color: white;
  font-size: 1.3rem;
}

.simg{
  width: 5%;
  margin-right: 10px;
  padding-top: 20px;
}

dl{
  color: white;
  text-align: left;
}

/*.cf{
  padding-left: 13%;
}*/

#ft{
  color: white;
  text-align: left;
  margin-left: 0%;
}

#ft span {
  color: #5747e3;
}

.row1{
  margin-left: 12%;
}