.faq {
  text-align: left;
  width: 75%;
  margin-bottom: 40px;
}
.faq h1 {
  font-size: 32px;
  margin-bottom: 6px;
}
.faq_box {
  background-color: #8b8eda;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.faq_box input {
  background-color: transparent;
  border: none;
  height: 100%;
  outline: none;
  caret-color: white;
  color: white;
  padding: 4px;
  width: 80%;
  font-size: 16px;
}
.faq_box input:hover {
  background-color: transparent;
  border: none;
}

.faq_boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

@media (max-width: 767px) {
  .faq_boxes {
    grid-template-columns: 1fr;
  }
  .faq h1 {
    font-size: 40px;
    margin-bottom: 6px;
  }
}
