:root {
  --primary-color: #101728;
  --text-color: #fff;
  --secondary-color: #5c4ce4;
}

.home {
  width: 100%;
  /* min-height: 87.6vh; */
  min-height: calc(100vh -422px -115px);

  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  margin: 5rem 0;
}

.description {
  width: 45%;
  font-size: 1.9rem;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  width: 30%;
}

.buttons button {
  padding: 1rem;
  margin: 0 30px;
  width: 250px;
  background-image: linear-gradient(90deg, #5c4ce4, #1d1966);
  color: var(--text-color);
  border-radius: 35px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
