.navbar{
    width: 100%;
    height: 115px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 1.4rem;
}

.navbar .navLeft{
    flex: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--text-color);
    padding-left: 158px;
}

.navbar .navRight{
    flex: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar a{
    color: var(--text-color);
    text-decoration: none;
    margin: 20px;
    font-size: 1.6rem;
}

.navbar .navRight button{
    background-color: var(--text-color);
    color: var(--primary-color);
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 1.20rem;
    padding: 13px;
    border-radius: 40px;
    margin: 1.5rem;
}


/* WRITE RESPONSIVE DESIGN BELOW  */