.resources_container {
  display: flex;
  padding: 50px 100px 50px;
  text-align: left;
  /* justify-content: end; */
  gap: 40px;
  background: #0f1819;
  width: 100%;
}
.resources_container h1 {
  font-size: 50px;
}
.resources_container p {
  display: block;
  width: 60%;
  font-weight: 700;
}
.resources_container span {
  color: #684ee5;
}
.resources_container img {
  width: 450px;
  border-radius: 15px;
}
.resources_data {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.star_quote {
  display: flex;
  gap: 10px;
}

.resources_container a {
  background: linear-gradient(90deg, #5c4ce4, #9340ff);

  outline: none;
  border: none;
  font-weight: 800;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .resources_container {
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 10px 20px;
  }

  .resources_data {
    width: 100%;
  }

  .resources_container h1 {
    font-size: 40px;
  }
  .resources_data p {
    width: 100%;
  }
  .resources_container img {
   width: 100%;
   
  }
}
